name: Publish Artifacts

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  image_details:
    runs-on: ubuntu-22.04
    outputs:
      image_base: ${{ steps.details.outputs.image_registry }}/${{ steps.details.outputs.registry_account }}/${{ steps.details.outputs.repo_name }}
    steps:
    - id: details
      uses: kpfleming/composite-actions/image-details@v3
      with:
        base_image: python:bookworm-main
  publish_galaxy:
    runs-on: ubuntu-22.04
    outputs:
      collection_namespace: ${{ steps.publish.outputs.collection_namespace }}
      collection_name: ${{ steps.publish.outputs.collection_name }}
      collection_tarball: ${{ steps.publish.outputs.collection_tarball }}
    needs:
    - image_details
    container:
      image: ${{ needs.image_details.outputs.image_base }}:main
    steps:
    - uses: actions/checkout@v4
      with:
        show-progress: false
    - id: publish
      uses: kpfleming/composite-actions/galaxy-publish-tox@v3
      with:
        galaxy_token: ${{ secrets.ANSIBLE_GALAXY_TOKEN }}
        tag: ${{ github.ref_name }}
  publish_docs:
    runs-on: ubuntu-22.04
    needs:
    - publish_galaxy
    container:
      image: docker.io/python:3.11
    steps:
    - uses: actions/checkout@v4
      with:
        ref: docsite
        path: docsite
        show-progress: false
    - uses: actions/download-artifact@v4
      with:
        name: collection
    - run: docsite/workflow-support/make_docs.sh ${{ needs.publish_galaxy.outputs.collection_namespace }}.${{ needs.publish_galaxy.outputs.collection_name }} ${{ needs.publish_galaxy.outputs.collection_tarball }}
    - uses: EndBug/add-and-commit@v9
      with:
        cwd: docsite
        add: docs --no-ignore-removal
        tag: docsite-${{ github.ref_name }} --force
        tag_push: --force
