name: CI tests

on:
  workflow_call:
    inputs:
      if:
        required: false
        default: true
        type: boolean
      image:
        required: true
        type: string
      pdns:
        required: true
        type: string
      python:
        required: true
        type: string

jobs:
  test:
    if: inputs.if
    runs-on: ubuntu-22.04
    container:
      image: ${{ inputs.image }}
    steps:
    - uses: actions/checkout@v4
    - name: start pdns_server
      run: workflow-support/start_server.sh ${{ inputs.pdns }}
    - uses: kpfleming/composite-actions/ci-tox@v2
      with:
        python: ${{ inputs.python }}
      env:
        pdns_version: ${{ inputs.pdns }}
